<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="topnav">
      <a href="/matias">Home</a>
      <a href="/User">News</a>
      <a href="/error">Contact</a>
      <a href="#about">About</a>
    </div>
    {{{body}}}
  </body>
</html>
